@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

header{
    padding: 1.5rem 0;
    background-color: #58c5b3;
    color: #fff;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo-link{
            text-decoration: none;
            color: #fff;
            h1{
                font-size: 20px;
            }
        }
        .menu-area{
            display: flex;
            align-items: center;
            position: relative;
            ul{
                &.desktop{
                    list-style: none;
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;
                    padding-right: 1.5rem;
                    border-right: 1px solid #fff;
                    li{
                        a{
                            text-decoration: none;
                            color: #fff;
                            &.active{
                                color: #000;
                            }
                        }
                    }
                }
                
            }
            .mobile{
                display: none;
                .mobile-btn{
                    margin: 0.3rem 0;
                    width: 35px;
                    height: 13px;
                    -transform: rotate(0deg);
                    border: 0;
                    background-color: transparent;
                    transition: 0.5s ease-in-out;
                    cursor: pointer;
                    span{
                        position: absolute;
                        height: 2px;
                        background: #fff;
                        opacity: 1;
                        left: 0;
                        -transform: rotate(0deg);
                        transition: 0.25s ease-in-out;
                        &:nth-child(1){
                            width: 35px;
                            top: 0px;
                            -ms-transform-origin: left center;
                            transform-origin: left center;
                        }
                        &:nth-child(2){
                            width: 25px;
                            top: 8px;
                            -ms-transform-origin: left center;
                            transform-origin: left center;
                        }
                        &:nth-child(3){
                            width: 30px;
                            top: 16px;
                            -ms-transform-origin: left center;
                            transform-origin: left center;
                        }
                    }
                }
                .mobile-menu{
                    position: absolute;
                    right: 0;
                    z-index: 1000;
                    display: none;
                    min-width: 10rem;
                    padding: 0.5rem 0;
                    margin: 0;
                    font-size: 1rem;
                    color: #212529;
                    text-align: left;
                    list-style: none;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid rgba(0,0,0,.15);
                    border-radius: 0.25rem;
                    li{
                        &:not(:last-child){
                            border-bottom: 0.5px solid rgb(236, 236, 236);
                        }
                        a{
                            display: block;
                            width: 100%;
                            padding: 0.5rem 1rem;
                            clear: both;
                            font-weight: 400;
                            color: #212529;
                            text-align: inherit;
                            text-decoration: none;
                            white-space: nowrap;
                            background-color: transparent;
                            border: 0;
                            font-size: 14px;
                            &.active{
                                background-color: #326e64;
                                color: #fff;
                            }
                        }
                        
                    }
                    &.show{
                        display: block;
                    }
                }
            }
            .cart-area{
                padding-left: 1.5rem;
                .icon{
                    position: relative;
                    i{
                        cursor: pointer;
                    } 
                    .cart-piece{
                        position: absolute;
                        top: -9px;
                        right: -9px;
                        background: #000;
                        padding: 2px 6px;
                        border-radius: 100%;
                        font-size: 10px;
                    }
                }
                
                .cart-sidebar{
                    display: none;
                    position: absolute;
                    top: 40px;
                    right: 0;
                    width: 100%;
                    background-color: #000;
                    .product-card{
                        display: flex;
                        gap: 1rem;
                        padding: 1rem;
                        
                        .img-area{
                            width: 30%;
                            img{
                                width: 100%;
                                height: 80px;
                                object-fit: cover;
                            }
                        }
                        .content{
                            width: 70%;
                            .title{
                                font-size: 13px;
                                font-weight: 500;
                                margin-bottom: 0.75rem;
                            }
                            .price-area{
                                span{
                                    font-size: 15px;
                                    font-weight: 600;
                                }
                            }
                            .action-area{
                                margin-top: 0.75rem;
                                display: flex;
                                justify-content: space-between;
                                align-items: stretch;
                                .left{
                                    display: inline-block;
                                    background-color: #fff;
                                    border-radius: 10px;
                                    padding: 0.3rem 0.55rem;
                                    button{
                                        border: 0;
                                        border-radius: 0;
                                        background-color: transparent;
                                        font-size: 18px;
                                        font-weight: 600;
                                        cursor: pointer;
                                        &.decrease{
                                            color: rgb(184, 9, 9);
                                        }
                                        &.increase{
                                            color: rgb(26, 174, 26);
                                        }
                                    }
                                    input{
                                        text-align: center;
                                        background-color: transparent;
                                        border: 0;
                                        width: 45px;
                                        &:focus{
                                            outline: 0;
                                        }
                                    }
                                }
                                .right{
                                    button{
                                        background-color: rgb(184, 9, 9);
                                        padding: 4px 8px;
                                        color: #fff;
                                        border: 0;
                                        border-radius: 4px;
                                        cursor: pointer;
                                    }
                                }
                                
                            }
                        }
                        &:not(:last-child){
                            border-bottom: 1px solid #fff;
                        }
                    }
                    &.show{
                        display: block;
                    }
                    
                }
            }
        }
        
    }
}

.home{
    padding: 3.5rem 0;
    p{
        margin-bottom: 1.5rem;
    }
    .more-btn{
        margin-top: 2rem;
        text-align: center;
        a{
            text-decoration: none;
            background-color: rgb(196, 139, 33);
            color: #fff;
            padding: 6px 12px;
            transition: all .2s;
            &:hover{
                background-color: rgb(166, 118, 28);
            }
        }
    }
}

.product-list{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    .product-card{
        width: 31%;
        border: 1px solid #c4c4c4;
        border-radius: 4px;
        padding: 1.5rem;
        .img-area{
            margin-bottom: 0.65rem;
            img{
                width: 100%;
                height: 180px;
                object-fit: contain;
            }
        }
        .content-area{
            a{
                color: #000;
                text-decoration: none;
                .title{
                    font-size: 15px;
                    font-weight: 500;
                    height: 40px;
                    overflow: hidden;
                    text-overflow: ellipsis !important;
                    white-space: normal !important;
                    display: -webkit-box !important;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    margin-bottom: 0.5rem;
                }
            }
            
            .price{
                margin-bottom: 1rem;
                span{
                    font-size: 22px;
                    font-weight: 600;
                }
            }
            .shipping-area{
                height: 22px;
                margin-bottom: 1rem;
                color: rgb(196, 139, 33);
            }
            .action-area{
                display: flex;
                justify-content: flex-end;
                button{
                    background-color: #326e64;
                    color: #fff;
                    padding: 9px 18px;
                    border: 0;
                    border-radius: 2px;
                    cursor: pointer;
                    transition: all .2s;
                    &:hover{
                        background-color: #3c9e8e;
                    }
                }
            }
        }
    }
}

.products{
    padding: 3.5rem 0;
}

.cart{
    padding: 3.5rem 0;
    .section-content-area{
        display: flex;
        gap: 2rem;
        .cart-products{
            width: 75%;
            .product-card{
                display: flex;
                padding: 1.25rem 1.75rem;
                border: 1px solid rgb(175, 175, 175);
                border-radius: 4px;
                .img-area{
                    width: 30%;
                    img{
                        width: 100%;
                        height: 160px;
                        object-fit: contain;
                    }
                }
                .content{
                    width: 70%;
                    .title{
                        font-size: 19px;
                        font-weight: 500;
                        margin-bottom: 1rem;
                    }
                    .price-area{
                        span{
                            font-size: 24px;
                            font-weight: 600;
                        }
                    }
                    .action-area{
                        margin-top: 0.75rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: stretch;
                        .left{
                            display: inline-block;
                            border: 1px solid #cccccc;
                            border-radius: 10px;
                            padding: 0.65rem;
                            button{
                                border: 0;
                                border-radius: 0;
                                background-color: transparent;
                                font-size: 20px;
                                font-weight: 600;
                                cursor: pointer;
                                &.decrease{
                                    color: rgb(184, 9, 9);
                                }
                                &.increase{
                                    color: rgb(26, 174, 26);
                                }
                            }
                            input{
                                text-align: center;
                                border: 0;
                                width: 60px;
                                &:focus{
                                    outline: 0;
                                }
                            }
                        }
                        .right{
                            button{
                                background-color: rgb(184, 9, 9);
                                padding: 6px 12px;
                                color: #fff;
                                border: 0;
                                border-radius: 4px;
                                cursor: pointer;
                            }
                        }
                        
                    }

                }
                &:not(:last-child){
                    margin-bottom: 1.5rem;
                }

            }
        }
        .sidebar{
            width: 25%;
            background-color: #459e90;
            color: #fff;
            padding: 1rem 2rem;
            border-radius: 8px;
            .totalPrice{
                span{
                    font-weight: 700;
                    font-size: 25px;
                }
                
            }
        }
    }
}

.product-detail{
    padding: 3.5rem 0;
    .product{
        display: flex;
        gap: 1.5rem;
        .img-area{
            width: 40%;
            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
        }
        .content-area{
            width: 60%;
            h1.title{
                font-size: 22px;
                font-weight: 500;
                margin-bottom: 1rem;
            }
            .price-area{
                span{
                    font-size: 28px;
                    font-weight: 600;
                }
            }
            .action-area{
                margin-top: 1rem;
                button{
                    border: 0;
                    border-radius: 2px;
                    color: #fff;
                    padding: 10px 25px;
                    
                    &.grey-btn{
                        background-color: rgb(96, 96, 96);
                    }
                    &.addToCart-btn{
                        background-color: #326e64;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    
}

.ordered-list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    list-style: none;
    margin-bottom: 1rem;
    li{
        &.order-item{
            
            button{
                background-color: #459e90;
                color: #fff;
                width: 100%;
                padding: 5px 10px;
                border: 0;
                border-radius: 6px;
                cursor: pointer;
            }
        }
        
    }
}

.alert{
    padding: 1rem;
    border-radius: 6px;
    &.alert-warning{
        background-color: #fff3cd;
        color: #664d03;
    }
    &.alert-success{
        background-color: rgb(29, 186, 29);
        color: #000;
    }
    &.alert-danger{
        background-color: rgb(177, 10, 10);
        color: #fff;
    }
}

.breadcrumb-area{
    margin-top: 2rem;
    padding: 1.25rem 1.5rem;
    background-color: #3c9e8e;
    border-radius: 6px;
    .page-title{
        margin-bottom: 1.5rem;
        color: #fff;
        text-align: center;
        font-weight: 600;
        font-size: 24px;
    }
    .list{
        display: flex;
        gap: 1.5rem;
        align-items: center;
        list-style: none;
        li{
            position: relative;
            a{
                text-decoration: none;
                color: #fff;
            }
            &.active-link{
                span{
                    color: #664d03;
                }
            }
            
            &:not(:last-child)::before{
                content: "/";
                position: absolute;
                color: #fff;
                right: -15px;
            }
        }
    }
}

@media (max-width:1024px){
    .product-list {
        .product-card{
            width: 47% !important;
        }
    }
    .cart {
        .section-content-area{
            flex-direction: column;
            .cart-products, .sidebar{
                width: 100%;
            }
        }
    }
}

.not-page{
    padding: 3rem 0;
    h1{
        font-size: 30px;
    }
}

@media (max-width:600px){
    header {
        .menu-area{
            ul{
                &.desktop{
                    display: none !important;
                }
            }
            .mobile{
                display: block !important;
            }
            .cart-area{
                display: none !important;
            }
        }
    }
    .product-list {
        .product-card{
            width: 100% !important;
        }
    }
}